.contenedor-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    max-height: 70vmin;
    max-width: 50vmin;
    border-radius: 4vmin;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(75, 99, 119);
    margin: 0 auto;
    margin-top: 20vmin; 
}

.admin-logo{
    width: 20vmin;
    height: 25vmin;
}

.texto1{
    width: 30vmin;
}

.texto2{
    justify-content: center;
    width: 40vmin;
}

