.contenedor-gerente{
    display: flex;
    align-items: center;
    flex-flow: column;
    max-height: 70vmin;
    max-width: 50vmin;
    border-radius: 4vmin;
    margin: 0 auto;
    margin-top: 5vmin; 
}

.gerente-logo{
    width: 20vmin;
    height: 25vmin;
}

.texto1_Gerente{
    width: 30vmin;
    font-family: fantasy;
    font-size: large;
    font-size: 60px;
    vertical-align: middle;
    text-shadow: 7px 4px 5px rgb(157, 157, 212);
    text-align:center;
}

.texto2_Gerente{
    text-align:center;
    width: 40vmin;
    font-size: 30px;
    font-family: oblique Impact;
}
