.contenedor-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;height: 70vmin;
    width: 50vmin;
    border-radius: 4vmin;
    margin: 0 auto;
    margin-top: 10vmin; 
    background-color: aliceblue;
    box-shadow: 0 3px 13px 1px rgb(51, 52, 53);
}


.admin-logo{
    width: 15vmin;
    height: 15vmin;
    border-radius: 8px;
    flex-wrap: wrap;
    margin-top: 7vmin;
}

.texto1_Admin{
    width: 30vmin;
    flex-wrap: wrap;
    font-size: 25px;
}

.texto2_Admin{
    align-self: center;
    font-size: 20px;
    width: 40vmin;
    margin-top: 7vmin;
    flex-wrap: wrap;
    /*font-family: oblique Impact;*/
}

