.contenedor-botones{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    max-height: 70vmin;
    max-width: 50vmin;
    margin: 0 auto;
    margin-top: 20vmin;
}



.boton1{
    height: 10vmin;
}

.boton2{
    height: 10vmin;
     margin-top: 5vmin;
}

.boton3{
    height: 10vmin;
    margin-top: 5vmin;
}

.imagen{
    margin-right: 100%;
}
