.contenedor-operador{
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 80vmin;
    width: 30vmax;
    border-radius: 15px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 3%;
    box-shadow: 0 3px 13px 1px rgb(51, 52, 53);
}

.operador-logo{
    width: 15vmin;
    height: 15vmin;
    border-radius: 8px;
    flex-wrap: wrap;
    margin-bottom: 5%;
    image-rendering: auto;
}

.texto1_Operador{
    width: 30vmin;
    font-size: 4vmin;
}

.texto2_Operador{
    align-self: center;
    font-size: 3.5vmin;
    width: 40vmin;
    margin-bottom: 5%;
}
