.contenedor-operador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 80vmin;
    max-width: 50vmin;
    border-radius: 4vmin;
    margin: 0 auto;
    margin-top: 5vmin; 
    background-color: aliceblue;
    box-shadow: 0 3px 13px 1px rgb(51, 52, 53);
}


.operador-logo{
    display: flex;
    max-width: 15vmin;
    max-height: 15vmin;
    border-radius: 8px;
    flex-wrap: wrap;
    margin-top: 7vmin;
}

.texto1_Operador{
    display: flex;
    max-width: 60vmin;
    flex-wrap: wrap;
    font-size: 20px;
}

.texto2_Operador{
    align-self: center;
    font-size: 20px;
    max-width: 30vmin;
    margin-top: 7vmin;
    flex-wrap: wrap;
    /*font-family: oblique Impact;*/
}

