.agregar-pago{
    /*text-align: center;*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /*border-radius: 4vmin;*/
    margin: 0 auto;
  }

  .pago{
    padding: 70px 80px;
    max-width: 100% !important;
  }

table{
    min-width: 500px;
    background-color: #fff;
  }


