.html,.contenedor-inicialCliente{
    height: 100vh;
}
  
.contenedor-inicialCliente {
    background-image: url("../Images/fondoCliente.svg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Hind Siliguri';
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    color: #000;
}