.contenedor-cliente{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 70vmin;
    width: 50vmin;
    border-radius: 4vmin;
    /*background-color: aliceblue;*/
    margin-top: 5vmin;
    margin: 0 auto;
    
  }

.Cliente-header{
    align-self: flex-start;
    background-color: black;
    height: 10vmin;
}
  
.app-logo {
    width: 10vmin;
    height: 8vmin;
}


.contenedor-cliente h1{
    height: 50vmin;
    width: 30vmin;
    flex-wrap: wrap;
}
  
.contenedor-cliente h2{
    align-self: flex-start;
    height: 5vmin;
    width: 40vmin;
    margin-top: 3vmin;
    flex-wrap: wrap;
}
  
.cliente-logo{
    width: 20vmin;
    height: 30vmin;
    flex-wrap: wrap;
}
