.buscador {
    text-align: center;
    padding: 40px 30px;
    max-width: 100% !important;
  }

table{
    min-width: 500px;
  }
.table-responsive{
}

.barra-busqueda{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
  }

  @media (max-width: 988px){
  
    .inputBuscar{
      width: 100% !important;
    }
  
    .buscador{
      padding: 40px 5px;
    }
  
  
  }