</div><div id="app" class="col-11">

  <h1>SIGEIN</h1>
  <h1>Imagen</h1>
  <img src="logo-inicial.png" alt="no cargas">

  <div class="row my-3">
    <div class="col-10">
      <h1>{{usuario.first_name}} {{usuario.last_name}}</h1>
      <p>{{contract.address}} {{contract.city}}</p>
      <p>Estrato {{estrato.estrato_number}}</p>
      <p>{{usuario.email}}</p>
    </div>
  </div>

  <hr />

    <div class="col-3">
      <h5>Fecha de corte {{energyconsumptions.issue_date}}</h5>
      <h5>Fecha de vencimiento {{energyconsumptions.due_date}}</h5>
    </div>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Kw/h Consumidos</th>
          <th>Precio Unitario</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{energyconsumptions.amount_kwh}}</td>
          <td>{{price.price}}</td>
          <td>{{total}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cond row">
    <div class="col-12 mt-3">
      <h4>Condiciones y formas de pago</h4>
      <p>
        Banco Banreserva
        <br />
        IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
        <br />
        Código SWIFT: BPDODOSXXXX
      </p>
    </div>
  </div>
</div>